@inherits LayoutComponentBase

<PageTitle>IMS.WebApp</PageTitle>

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Inventory Management</a>
        <button class="navbar-toggler p-0 border-0" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="ToggleNavMenu">
                        Home
                    </NavLink>
                </li>
                
                <li class="nav-item">
                    <NavLink class="nav-link" href="inventories" @onclick="ToggleNavMenu">
                        Inventories
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="products" @onclick="ToggleNavMenu">
                        Products
                    </NavLink>
                </li>
                <li class="nav-item dropdown">
                    <NavLink class="nav-link dropdown-toggle" href="#" @onclick="ToggleSubNavActivities" id="Activities">
                        Activities
                    </NavLink>
                    @if (expandSubNavActivities)
                    {
                        <ul class="dropdown-menu show" aria-labelledby="navbarDropdown" @onclick="CollapseSubNavMenu">
                            <li class="nav-item">
                                <NavLink class="dropdown-item" href="purchase">
                                    <span class="oi oi-fork" aria-hidden="true"></span> Purchase
                                </NavLink>
                            </li>
                            
                            <li class="nav-item">
                                <NavLink class="dropdown-item" href="produce">
                                    <span class="oi oi-command" aria-hidden="true"></span> Produce
                                </NavLink>
                            </li>
                            
                            <li class="nav-item">
                                <NavLink class="dropdown-item" href="sell">
                                    <span class="oi oi-home" aria-hidden="true"></span> Sell
                                </NavLink>
                            </li>
                        </ul>
                    }
                </li>
                <li class="nav-item dropdown">
                    <NavLink class="nav-link dropdown-toggle" href="#" @onclick="ToggleSubNavReport" id="Report">
                        Reports
                    </NavLink>
                    @if (expandSubNavReports)
                    {
                        <ul class="dropdown-menu show" aria-labelledby="navbarDropdown" @onclick="CollapseSubNavMenu">
                            <li class="nav-item">
                                <NavLink class="dropdown-item" href="inventoryreport">
                                    <span class="oi oi-fork" aria-hidden="true"></span> Inventory Transactions
                                </NavLink>
                            </li>
                            
                            <li class="nav-item">
                                <NavLink class="dropdown-item" href="productreport">
                                    <span class="oi oi-command" aria-hidden="true"></span> Product Transactions
                                </NavLink>
                            </li>
                        </ul>
                    }
                </li>
            </ul>
            <LoginDisplay></LoginDisplay>
        </div>
    </div>
</nav>
<br/>
<main class="context px-3">
    <br/>
    <div class="bg-white p-5 rounded">
        @Body
    </div>
</main>


@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@

@code{
    bool collapseNavMenu = true;

    private bool expandSubNavActivities;
    private bool expandSubNavReports;

    string baseMenuClass = "navbar-collapse offcanvas-collapse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        CollapseSubNavMenu();
    }

    void ToggleSubNavActivities()
    {
        expandSubNavReports = false;
        expandSubNavActivities = !expandSubNavActivities;
    }

    void ToggleSubNavReport()
    {
        expandSubNavActivities = false;
        expandSubNavReports = !expandSubNavReports;
    }

    void CollapseSubNavMenu()
    {
        expandSubNavActivities = false;
        expandSubNavReports = false;
        collapseNavMenu = !collapseNavMenu;
    }
}
